@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

.arriere-plan
{
	background-image:url(../images/image7_1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.filtre-blanc
{
	background-color: rgba(145, 255,185, 1);
}

.filtre-noir
{
	background-color: rgba(0, 0,0, 0.4);
}

.logo
{
	text-align:center;
	font-size: 25px;
}

.Recherche
{
	color:black;

	font-size:100px;
	text-align:center;
	font-family:"Bodoni FLF"; 
	margin-top:2cm;

}	

.twobuttons
{
	margin-top: 3cm;
} 

.btn-emploi 
{
	font-family:"Montserrat Light";
	font-size: 25px;
	font-weight: bold;
	box-shadow:2px 2px 15px black;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	width:300px;
	height:60px;	font-size:18px;
}

.btn-emploi:hover
{
	background :#90ffb9;
}

.btn-emploi:active
{
	background :#90ffb9;
}

.btn-employe 
{
	font-family:"Montserrat Light";
	font-size: 25px;
	font-weight: bold;
	box-shadow:2px 2px 15px black;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	width:300px;
	height:60px;
	font-size:18px;
}

.btn-employe:hover
{
	background :#90ffb9;
}

.btn-employe:active
{
	background :#90ffb9;
}


.connexion
{
	color:black;
	opacity: .75;
	text-align:center;
	font-size:60px;	
	font-family:"Bodoni FLF";
	margin-top:3cm; 	
	margin-bottom: default;

}

.btnredirect
{
	color:#90ffb9;
	text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
	font-size:40px;
	text-align:center;
	font-family:"Montserrat Light"
}

.btnredirect:hover
{
	color:#90ffb9;

}

.dropdown-toggle
{
   width: 200;
}

.btn-menu
{
	background-color:#404040; 
	color:#90ffb9;
}

.btn-menu:hover
{
	background-color:#404040; 
	color:#90ffb9;
}

.btn-menu:active
{
	background-color:#404040; 
	color:#90ffb9;
}

.btn-menu:focus
{
	background-color:#404040; 
	color:#90ffb9;
}

.btn-menu.active.focus, .btn-menu.active:focus,
.btn-menu.active:hover, .btn-menu:active.focus,
.btn-menu:active:focus, .btn-menu:active:hover,
.open>.dropdown-toggle.btn-menu.focus,
.open>.dropdown-toggle.btn-menu:focus, 
.open>.dropdown-toggle.btn-menu:hover,
{
	background-color:#404040; 
	color:#90ffb9;
}