@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

.arriere-plan
{
	background-image:url(../images/image7_1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.titre
{
	text-align:center;
	font-size: 25px;
}

.Recherche
{
	color:White;
	opacity:0.75;
	font-size:100px;
	text-align:center;
	font-family:"Bodoni FLF"; 
	margin-top:2cm;

}

#page
{
	background-color:White;
	border: 1px black outset;
}
.twobuttons
{
	margin-top: 1cm;
} 

.btn-emploi 
{
	box-shadow:2px 2px 15px #aaa;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	width:20%;
	height:60px;
	margin-top:2cm;
	font-size:18px;
	margin-left: 22.5%
}

.btn-emploi:hover
{
	background :#90ffb9;
}

.btn-emploi:active
{
	background :#90ffb9;
}

.btn-employe 
{
	box-shadow:2px 2px 15px #aaa;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	width:20%;
	height:60px;
	margin-top:2cm;
	font-size:18px;
	margin-left: 15%;
}

.btn-employe:hover
{
	background :#90ffb9;
}

.btn-employe:active
{
	background :#90ffb9;
}


.connexion
{
	color:White;
	opacity: .75;
	text-align:center;
	font-size:60px;	
	font-family:"Bodoni FLF";
	margin-top:3cm; 	
	margin-bottom: default;

}

.btnredirect
{
	color:#90ffb9;
	font-size:40px;
	text-align:center;
	font-family:"Montserrat Light"
}

.btnredirect:hover
{
	color:#90ffb9;

}