@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

.btn-maj
{
	font-family:"Montserrat Light";
	font-size: 25px;
	font-weight: bold;
	box-shadow:2px 2px 15px black;
	background-color:#90ffb9;
	color:Black;
	font-size:18px;
	width:250px;
	height:60px;
}