@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}


#div-infos-perso
{
	color:White;
	font-size: 25px;
}

#titre-infos-perso
{
	font-size: 40px;
	text-align: center;
}

#div-infos-comp
{
	color:White;
	font-size: 25px;
}

#titre-infos-comp
{
	font-size: 40px;
	text-align: center;
}

#btn-maj-infos
{
	background-color:#90ffb9;
	font-family:"Montserrat Light";
	padding:1%;
	color:Black;
	border:2px solid ;
}

}

#info-comp
{
	font-size:20px;
	font-family:"Montserrat Light";
	margin-top: 5%;
	margin-bottom: 3%;
}		

.Modifier-supprimer-competence
{
	color:#90ffb9;
}

