@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

.arriere-plan-employe
{
	background-image:url(../images/image9_1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#contenu
{
 background-color: rgba(0, 0, 0, 0.5);
}


#phrase-nb-offres
{
	font-size:70px;
	font-family:"Bodoni FLF";
	text-align: center;
	color: black;

}


#div-champs-recherche
{
	text-align: center;
	margin-top: 10px;
}


.champs-recherche
{
	text-align: center;
	padding:1.0%;
	border:2px solid;		
	font-family:"Montserrat Light";
}



#div-champs-selection
{
	text-align: center;
	margin-top: 2%;
}



.menu_roulant-selection
{
	border:2px solid;
	padding:1.0%;
	font-family:"Montserrat Light";
}



#div-btn-rechercher
{
	text-align:center;
	margin-top: 2px;	

}

#btn_rechercher
{
	border-color: black;
	font-weight: bold;
	padding:1%;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	box-shadow:2px 2px 15px black;		
	font-family:"Montserrat Light";
	font-size:18px;
}


#div_infos
{
	text-align: center;
}


.btn_infos 
{

	background-color:#90ffb9;
	font-family:"Montserrat Light";
	color:Black;
	border:2px solid ;
}


