@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

#champ-infos-persos
{
	font-size:20px;
	font-family:"Montserrat Light";
	margin-top: 5%;
	margin-bottom: 3%;
}


#btn-maj-infos
{
	background-color:rgb(250, 255, 189);
	font-family:"Montserrat Light";
	padding:1%;
	font-size: 16px;
}

#info-comp
{
	font-size:20px;
	font-family:"Montserrat Light";
	margin-top: 5%;
	margin-bottom: 3%;
}		