@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}


#div-infos-perso
{
	font-family:"Montserrat Light";
	color:black;
	font-size: 30px;
	font-weight: bolder;
}

#titre-infos-perso
{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
	font-family: "Bodoni FLF";

}

div.form-infos-perso label
{
	font-weight: normal;
	font-size: 20px;
}

.btn-maj-infos
{	
	position: absolute;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color:black;
	font-family:"Montserrat Light";
	box-shadow:2px 2px 15px black;
	padding:1%;
	color:#90ffb9;
	border:2px solid ;
}

.btn-maj-infos:hover
{
	color:#90ffb9;
}

.btn-maj-infos:active
{

	color:#90ffb9;

}

.btn-maj-infos:focus
{

	color:#90ffb9;
	
}

#div-infos-comp
{
	font-family:"Montserrat Light";
	color:black;
	font-size: 30px;
	font-weight: bolder;
}

#titre-infos-comp
{
	font-family: "Bodoni FLF";
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
	color: black;

}

#div-infos-comp h3
{
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 35px;
}

div.form-infos-comp label
{
	font-weight: normal;
	font-size: 20px;
}

	

.div-modifier-supprimer
{
	margin-top: 25px;
	margin-bottom: 20px;
}

.Modifier-supprimer
{
	text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black;
	margin-top: 30px;
}


.row
{
	margin-left: 0;
	margin-right: 0;
}

.bande-blanche
{
	margin-left: 5cm;
	margin-right: 5cm;
	height: 10px;
	background-color: white;
}