@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}


.div-formation 
{
	font-family:"Montserrat Light";
	color:black;
	font-size: 30px;
	font-weight: bolder;
}

.intitule
{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
	font-family: "Bodoni FLF";
	color: black;
}


.div-field
{
	margin-top:1cm !important;
	margin-bottom:1cm !important; 
}


.champ-input
{
	margin-left: 5cm ;
	font-size:20px;
}


.champ-description
{
	height: 20%;
	width: 20cm;
	margin-top:1cm !important;
}


#champ-btn-formation
{
	text-align: left;
	margin-left: 2cm;
	margin-top: 3cm;
}

#btn-ajoutformation
{
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color:black;
	font-family:"Montserrat Light";
	box-shadow:2px 2px 15px black;
	padding:1%;
	color:#90ffb9;
	border:2px solid ;
}

#btn-ajoutformation:hover,
#btn-ajoutformation:active,
#btn-ajoutformation:focus,
{
	color: #90ffb9;
}

.div-exp-pro
{
	font-family:"Montserrat Light";
	color:black;
	font-size: 30px;
	font-weight: bolder;
}

#champ-btn-exp-pro
{
	text-align: left;
	margin-left: 2cm;
	margin-top: 3cm;
}

#btn-ajoutexperience
{
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color:black;
	font-family:"Montserrat Light";
	box-shadow:2px 2px 15px black;
	padding:1%;
	color:#90ffb9;
	border:2px solid ;
}


#competence
{
	font-size:20px;
	font-family:"Montserrat Light";
	margin-top: 5%;
	width: 710px;
	margin-right: 0px;
}

.div-competence
{
	font-family:"Montserrat Light";
	color:black;
	font-size: 30px;
	font-weight: bolder;

}

div.div-competence label
{
	font-weight: bold;
    font-size: 30px;
    display: inline;
    font-family:"Montserrat Light";
    color: black;
}


#competence_niveau_competence
{
	float:right;	
}


#champ-ajout-comp
{
	text-align: left;
	margin-left: 2cm;
	margin-top: 3cm;
}
#btn-ajoutcomp
{
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color:black;
	font-family:"Montserrat Light";
	box-shadow:2px 2px 15px black;
	padding:1%;
	color:#90ffb9;
	border:2px solid ;
}

#champ-back
{
	font-family:"Montserrat Light";
	color:black;
	font-size: 30px;
	font-weight: bolder;
}

