@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

.arriere-plan-employe
{
	background-image:url(../images/image9_1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#titre
{
	font-size:60px;
	font-family:"Bodoni FLF";
	text-align: center;
}

.menu_roulant
{
	padding:1.0%;
	border-radius: 10%;
	background-color:rgb(250, 255, 189);
	font-family:"Montserrat Light";
}

#div_rechercher
{
	text-align:center;	

}

#btn_rechercher
{
	padding:1%;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	box-shadow:2px 2px 15px #aaa;	
	font-family:"Montserrat Light";
	font-size:18px;
}

#btn_postuler
{
	box-shadow:2px 2px 15px #aaa;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	width:415px;
	height:100px;
	font-family:"Montserrat Light";
	font-size:18px;
	margin-left: 15%;
}

#btn_cv
{
	box-shadow:2px 2px 15px #aaa;
	background-color:#90ffb9;
	color:Black;
	border-radius: 50px;
	width:20%;
	height:10%;
	margin-left:23%;
	font-family:"Montserrat Light";
	font-size:18px;

}

.btn_page:hover
{
	background :#90ffb9;
}

.btn_page:active
{
	background :#90ffb9;
}


#row_field
{
	text-align: center;
	margin-top: 2%;
}

#row_field2
{
	text-align: center;
	margin-top: 2%;
}

.field
{
	text-align: center;
	padding:1.0%;
		
	font-family:"Montserrat Light";
}

#btn_infos
{
	background-color:#ff50bc;
	font-family:"Montserrat Light";
}

#row_infos
{
	text-align: center;
}
