@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

#titre-inscription
{
	color:black;
	font-size:100px;
	text-align:center;
	font-family:"Bodoni FLF"; 
	margin-top:2cm;
}

.div-label-champ
{
	margin-top:2cm;
}

.champ
{
	margin-left:2cm;
}

.div-label-champ.error
{
	color:red;
}

.formulaire-inscriptionemploye
{
	color: black;
	font-family:"Montserrat-Light";
		font-size: 30px;
}


.btnInscription
{
	font-family:"Montserrat Light";
	font-size: 25px;
	font-weight: bold;
	box-shadow:2px 2px 15px black;
	background-color:#90ffb9;
	color:Black;
	font-size:18px;
	border-radius: 50px;
	width:300px;
	height:60px;	
}

.btnInscription:hover
{
	background :#90ffb9;
}

#deja-inscrit
{
	margin-top:30px;
	text-align: center;
	font-family:"Montserrat-Light";
	font-size: 30px;
	color: black;
}

#url-connexion
{
	color:#90ffb9;
	text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
	font-size:40px;
}

#cv-pdf
{
	margin-top:30px;
	font-family:"Montserrat-Light";
	font-size: 30px;
	color: black;
}

#cv-button
{
	font-family:"Montserrat Light";
	font-size: 25px;
	font-weight: bold;
	margin-top: 50px;
	box-shadow:2px 2px 15px black;
	background-color:#90ffb9;
	color:Black;
	font-size:18px;
	border-radius: 50px;
	width:370px;
	height:60px;

}