.loader-upload-cv,
.loader-upload-cv:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader-upload-cv {
	background-color: rgba( 144, 255, 185, .1 );
	color: black;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba( 144, 255, 185, .9 );
  border-right: 1.1em solid rgba( 144, 255, 185, .9 );
  border-bottom: 1.1em solid rgba( 144, 255, 185, .9 );
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.div-load-cv 
{
	display: none;
}

.div-back-upload-cv
{
  background-color: rgb( 144, 255, 185 );
  text-align: center;
  padding: 3% 0%;
  margin: 2% 0%;
}

#dropdownMenu1
{
  float: right;
  margin: 2.5% .1%;
}

#menu-upload
{
  margin: 5% .1%;
}

.btn-upload-cv
{
  border-color: #90ffb9;
  font-weight: bold;
  padding: 1%;
  background-color: black;
  color: #90ffb9;
  border-radius: 50px;
  box-shadow: 2px 2px 15px black;
  font-family: "Montserrat Light";
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all .2s linear;
}

.btn-upload-cv:hover
{
  transform: scale(1.05);
}

.cv-upload-h1
{
  color: black;
  font-family: "Bodoni FLF";
  font-size: 4em;
}

.form-upload-cv, .form-upload-cv form div
{
  text-align: center;
}


.form-upload-cv .upload-input
{
  text-align: center;
}
#ytEmploye_cv_pdf, #Employe_cv_pdf
{
  color: black;
  font-family: "Montserrat Light";
  font-size: 1.5em;
  margin: 4% auto;
}

#button-renseigner-infos
{
  border-color: #90ffb9;
  font-weight: bold;
  padding: 1%;
  background-color: black;
  color: #90ffb9;
  border-radius: 50px;
  box-shadow: 2px 2px 15px black;
  font-family: "Montserrat Light";
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all .2s linear;
}

#button-renseigner-infos:hover
{
  transform: scale(1.05);
}