@font-face 
{
	font-family: "Bodoni FLF";
	src: url('BodoniFLF-Roman.ttf');
}

@font-face
{
	font-family:"Montserrat Light";
	src: url('Montserrat-Light.otf');
}

.arriere-plan-login
{
	background-image:url(../images/image4);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

.titre-connexion
{
	color:black;
	font-size:100px;
	text-align:center;
	font-family:"Bodoni FLF"; 
	margin-top:2cm;
}

#div-adresse-mail 
{

	font-family:"Montserrat-Light";
	font-size:25px;
	margin-top:2cm;
}

#label-mail
{
margin-left: 35%;
font-size: 30px;
color: black;
}

#champ-mail
{
	text-align: center;
}

#div-password
{
	font-family:"Montserrat-Light";
	font-size:25px;
	margin-top:0.5cm;
}

#label-pass
{
margin-left: 35%;
font-size: 30px;
color: black;
}

#champ-pass
{
text-align: center;
}

.errorMessage
{
	text-align: center;
	color:red;
}


.row.rememberMe
{
	font-family:"Montserrat-Light";
	font-size:25px;
	margin-top:1cm;
	text-align: center;
}

.row.buttons
{
	margin-top: 2.5cm;
	text-align:center;
}

.btnConnexion
{
	font-family:"Montserrat Light";
	font-size: 25px;
	font-weight: bold;
	box-shadow:2px 2px 15px black;
	background-color:#90ffb9;
	color:Black;
	font-size:18px;
	border-radius: 50px;
	width:300px;
	height:60px;	
}

.btnConnexion:hover
{
	background :#90ffb9;
}

#pas-inscrit
{
	margin-top:30px;
	text-align: center;
	font-family:"Montserrat-Light";
	font-size: 40px;
	color: black;
}

#url-inscription
{
	color:#90ffb9;
	text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
	font-size:40px;
}